@model IPagedList<ReportProductDTO>
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Pengaduan | Lubes";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-sm-flex py-2 ms-2">
                <h4 class="fw-bold mb-0">
                    <span class="text-muted fw-light">Dashboard / </span>
                    List Pengaduan
                </h4>
            </div>
        </div>
    </div>

    <!-- Table Card -->
    <div class="card py-3">
        <form method="post" asp-action="Pengaduan" asp-controller="Admin" autocomplete="off">
            <div class="row px-3">
                <!-- Search -->
                @* <div class="col-md-2 mb-2">
                <select class="form-select" id="filterBySelect">
                <option value="username">Username</option>
                <option value="nama">Nama</option>
                <option value="email">Email</option>
                </select>
                </div> *@
                <div class="col-md-3 mb-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">From</span>
                        <input type="date" id="fromDate" value="@ViewBag.FromDate" name="fromDate" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">To</span>
                        <input type="date" id="toDate" value="@ViewBag.ToDate" name="toDate" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-md-3 mb-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">Search</span>
                        <input type="text" id="txtSearch" value="@ViewBag.Filter" name="filter" autocomplete="off" class="form-control" placeholder="Search ..." />
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">Kab. / Kota</span>
                        <input type="text" id="txtKota" value="@ViewBag.kota" name="kota" autocomplete="off" class="form-control" placeholder="Search Kab. / Kota" />
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">Provinsi</span>
                        <input type="text" id="txtProv" value="@ViewBag.Prov" name="Prov" autocomplete="off" class="form-control" placeholder="Search Provinsi" />
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary" id="btnSearch"><i class="bx bx-search fs-4"></i>&nbsp;Search</button>
                </div>
            </div>

            <div class="row px-3 mt-3">
                <!-- Button Add -->
                <div class="col-md-12 mb-2 text-end">
                    <button type="button" class="btn btn-primary me-1" id="btnExport">
                        <span class="tf-icons bx bx-file"></span>
                        Export
                    </button>
                </div>
            </div>

            <!-- Table Body -->
            <div class="table-responsive text-nowrap py-3">
                <div class="row px-3">
                    <!-- Button Add -->
                    <div class="col-md-12 mb-2" style="display: flex; justify-content: flex-end">
                        <select class="form-select" onchange="pgSizeChange()" name="opt" style="width: 100px" id="opt" aria-label="Show Data">
                            @if (Convert.ToString(@ViewBag.opt) == "20")
                            {
                                <option value="10">10</option>
                                <option value="20" selected>20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            }
                            else if (Convert.ToString(@ViewBag.opt) == "50")
                            {
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50" selected>50</option>
                                <option value="100">100</option>
                            }
                            else if (Convert.ToString(@ViewBag.opt) == "100")
                            {
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100" selected>100</option>
                            }
                            else
                            {
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            }
                        </select>
                    </div>
                </div>
                <table class="table table-striped" id="tblData">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Nama Lengkap</th>
                            <th>No. Telp (Whatsapp)</th>
                            <th>Email</th>
                            <th>Nama Produk</th>
                            <th>Deskripsi Pelapor</th>
                            <th>Deskripsi Laporan</th>
                            <th>Lokasi Laporan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ReportProductDTO data in Model)
                        {
                            <tr>
                                <td valign="top">@data.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td valign="top">@data.namaLengkap</td>
                                <td valign="top">@data.nomorTelp</td>
                                <td valign="top">@data.email</td>
                                <td valign="top">@data.namaProduk</td>
                                <td valign="top">@data.descPelapor</td>
                                <td valign="top" style="white-space:pre-wrap; word-wrap:break-word">@data.descLaporan</td>
                                <td valign="top" style="white-space:pre-wrap; word-wrap:break-word">@data.alamatMap</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <div class="row mt-2 px-3">
                <div class="col">
                    <div class="demo-inline-spacing">
                        <nav aria-label="Page navigation">

                            @Html.PagedListPager(Model, page => Url.Action("Pengaduan", new { pg = page, filter = ViewBag.Filter, FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate, Prov = ViewBag.Prov, kota = ViewBag.kota, opt = ViewBag.Opt }), new PagedListRenderOptions()
                            {
                                MaximumPageNumbersToDisplay = 4,
                                ActiveLiElementClass = "active",
                                PageClasses = new[]{ "page-link"},
                                LiElementClasses=new[] { "page-item" },
                                UlElementClasses = new[] { "pagination", "mt-3" },
                                LinkToNextPageFormat = "Next",
                                LinkToPreviousPageFormat = "Previous",
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always
                            })
                        </nav>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        function pgSizeChange() {
            $("#btnSearch").click();
        }

        $(function () {
            $("#btnExport").click(function () {
                var from = $("#fromDate").val();
                var to = $("#toDate").val();
                var filter = $("#txtSearch").val();
                var kota = $("#txtKota").val();
                var prov = $("#txtProv").val();
                window.open('/Admin/Pengaduan/Export?filter=' + filter + '&fromDate=' + from + '&toDate=' + to + '&Prov=' + prov + '&kota=' + kota);
            });
        });
    </script>
}