@model IPagedList<UserDTO>
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Users | Lubes";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-sm-flex py-2 ms-2">
                <h4 class="fw-bold mb-0">
                    <span class="text-muted fw-light">Dashboard / </span>
                    User List
                </h4>
            </div>
        </div>
    </div>

    <!-- Table Card -->
    <div class="card py-3">
        <form method="post" asp-action="Users" asp-controller="Admin" autocomplete="off">
            <div class="row px-3">
                <!-- Search -->
                @* <div class="col-md-2 mb-2">
                <select class="form-select" id="filterBySelect">
                <option value="username">Username</option>
                <option value="nama">Nama</option>
                <option value="email">Email</option>
                </select>
                </div> *@
                <div class="col-md-4 mb-2">
                    <input type="text" id="txtSearch" value="@ViewBag.Filter" name="filter" autocomplete="off" class="form-control" placeholder="Search ..." />
                </div>
                <div class="col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary" id="btnSearch"><i class="bx bx-search fs-4"></i>&nbsp;Search</button>
                </div>
            </div>

            <div class="row px-3">
                <!-- Button Add -->
                <div class="col-md-12 mb-2 text-end">
                    <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#addUsers">
                        <span class="tf-icons bx bx-plus-circle"></span>
                        Add User
                    </button>
                </div>
            </div>

            <!-- Table Body -->
            <div class="table-responsive text-nowrap py-3">
                <table class="table table-striped" id="tblData">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserDTO data in Model)
                        {
                            <tr>
                                <td>@data.username</td>
                                <td>@data.namaUser</td>
                                <td>@data.email</td>
                                <td><span class="badge rounded bg-label-primary">@data.Role.Role_Name</span></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-edit"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editUser">
                                                <i class="bx bx-edit-alt me-1"></i>
                                                Edit
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editPassword">
                                                <i class="bx bx-lock me-1"></i>
                                                Change Password
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <i class="bx bx-trash me-1"></i>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <div class="row mt-2 px-3">
                <div class="col">
                    <div class="demo-inline-spacing">
                        <nav aria-label="Page navigation">

                            @Html.PagedListPager(Model, page => Url.Action("Scan", new { pg = page, filter = ViewBag.Filter }), new PagedListRenderOptions()
                            {
                                ActiveLiElementClass = "active",
                                PageClasses = new[]{ "page-link"},
                                LiElementClasses=new[] { "page-item" },
                                UlElementClasses = new[] { "pagination", "mt-3" },
                                LinkToNextPageFormat = "Next",
                                LinkToPreviousPageFormat = "Previous",
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always
                            })
                        </nav>
                    </div>
                </div>
            </div>
        </form>
    </div>



</div>


<!-- Modals New User -->
<div class="modal fade" id="addUsers" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row g-md-2">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter User Name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="Enter Email">
                    </div>
                </div>
                <div class="row g-md-2">
                    <div class="col-md-6 mb-3 form-password-toggle">
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" class="form-control" name="password" placeholder="············" aria-describedby="password">
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 form-password-toggle">
                        <label class="form-label" for="password-confirmation">Password Confirmation</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password-confirmation" class="form-control" name="password-confirmation" placeholder="············" aria-describedby="password-confirmation">
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </div>
</div>

<!-- Modals Edit User -->
<div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row g-md-2">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter User Name" value="Wawan Setiawan">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="Enter Email" value="wawan@gmail.com">
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>

<!-- Modals Edit Password -->
<div class="modal fade" id="editPassword" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Change Password User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3 form-password-toggle">
                        <label class="form-label" for="old-password">Old Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="old-password" class="form-control" name="old-password" placeholder="············" aria-describedby="old-password">
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3 form-password-toggle">
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" class="form-control" name="password" placeholder="············" aria-describedby="password">
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3 form-password-toggle">
                        <label class="form-label" for="password-confirmation">Password Confirmation</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password-confirmation" class="form-control" name="password-confirmation" placeholder="············" aria-describedby="password-confirmation">
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        //let table = new DataTable('#tblData');
    </script>
}