@model IPagedList<UserDTO>
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Users | Lubes";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-sm-flex py-2 ms-2">
                <h4 class="fw-bold mb-0">
                    <span class="text-muted fw-light">Dashboard / </span>
                    User List
                </h4>
            </div>
        </div>
    </div>

    <!-- Table Card -->
    <div class="card py-3">
        <form method="post" asp-action="Users" asp-controller="Admin" autocomplete="off">
            <div class="row px-3">
                <!-- Search -->
                @* <div class="col-md-2 mb-2">
                <select class="form-select" id="filterBySelect">
                <option value="username">Username</option>
                <option value="nama">Nama</option>
                <option value="email">Email</option>
                </select>
                </div> *@
                <div class="col-md-4 mb-2">
                    <input type="text" id="txtSearch" value="@ViewBag.Filter" name="filter" autocomplete="off" class="form-control" placeholder="Search ..." />
                </div>
                <div class="col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary" id="btnSearch"><i class="bx bx-search fs-4"></i>&nbsp;Search</button>
                </div>
            </div>

            <div class="row px-3">
                <!-- Button Add -->
                <div class="col-md-12 mb-2 text-end">
                    <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-url="@Url.Action("NewUser")">
                        <span class="tf-icons bx bx-plus-circle"></span>
                        Add User
                    </button>
                </div>
            </div>

            <!-- Table Body -->
            <div class="table-responsive text-nowrap py-3">
                <div class="row px-3">
                    <!-- Button Add -->
                    <div class="col-md-12 mb-2" style="display: flex; justify-content: flex-end">
                        <select class="form-select" onchange="pgSizeChange()" name="opt" style="width: 100px" id="opt" aria-label="Show Data">
                            @if (Convert.ToString(@ViewBag.opt) == "20")
                            {
                                <option value="10">10</option>
                                <option value="20" selected>20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            }
                            else if (Convert.ToString(@ViewBag.opt) == "50")
                            {
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50" selected>50</option>
                                <option value="100">100</option>
                            }
                            else if (Convert.ToString(@ViewBag.opt) == "100")
                            {
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100" selected>100</option>
                            }
                            else
                            {
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            }
                        </select>
                    </div>
                </div>
                <table class="table table-striped" id="tblData">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserDTO data in Model)
                        {
                            <tr>
                                <td>@data.username</td>
                                <td>@data.namaUser</td>
                                <td>@data.email</td>
                                <td><span class="badge rounded bg-label-primary">@data.Role.Role_Name</span></td>
                                <td>
                                    @if (@data.isActive == 1)
                                    {
                                        <span class="badge rounded bg-label-success">Aktif</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded bg-label-danger">Tidak Aktif</span>
                                    }
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-edit"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-url="@Url.Action("EditUser", "Admin", new { id = data.userId})">
                                                <i class="bx bx-edit-alt me-1"></i>
                                                Edit
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-url="@Url.Action("ChangePasswordUser", "Admin", new { id = data.userId})">
                                                <i class="bx bx-lock me-1"></i>
                                                Change Password
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <div class="row mt-2 px-3">
                <div class="col">
                    <div class="demo-inline-spacing">
                        <nav aria-label="Page navigation">

                            @Html.PagedListPager(Model, page => Url.Action("Users", new { pg = page, filter = ViewBag.Filter, opt = ViewBag.Opt }), new PagedListRenderOptions()
                            {
                                MaximumPageNumbersToDisplay = 4,
                                ActiveLiElementClass = "active",
                                PageClasses = new[]{ "page-link"},
                                LiElementClasses=new[] { "page-item" },
                                UlElementClasses = new[] { "pagination", "mt-3" },
                                LinkToNextPageFormat = "Next",
                                LinkToPreviousPageFormat = "Previous",
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always
                            })
                        </nav>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="PlaceHolderHere"></div>


@section scripts {
    <script type="text/javascript">
        function pgSizeChange() {
            $("#btnSearch").click();
        }

        $(function () {

            var PlaceHolderElement = $('#PlaceHolderHere');
            $('button[data-bs-toggle="modal"]').click(function (event) {
                var url = $(this).data('url');
                var decodeURL = decodeURIComponent(url);
                $.get(decodeURL).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })

            $('a[data-bs-toggle="modal"]').click(function () { //click event
                var url = $(this).data('url');
                var decodeURL = decodeURIComponent(url);
                $.get(decodeURL).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                })
            });

            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                $('.modal-footer').find('[data-save="modal"]').prop('disabled', true);

                var form = $(this).parents('.modal').find('form');
                var actionurl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionurl, sendData).done(function (data) {
                    var newBody = $('.modal-body', data);

                    var isValid = newBody.find('[name="IsValid"]').val() == 'True';
                    if (isValid) {
                        PlaceHolderElement.find('.modal').modal('hide');

                        Swal.fire({
                            title: 'Berhasil!',
                            text: 'Data berhasil disimpan !',
                            icon: 'success',
                        }).then(function (result) {
                            if (true) {
                                location.href = "/Admin/Users";
                            }
                        });
                    } else {
                        PlaceHolderElement.find('.modal-body').replaceWith(newBody);
                    }
                    $('.modal-footer').find('[data-save="modal"]').prop('disabled', false);
                })

            })
        })
    </script>
}