@model WebApp.Models.ProductDetailDTO

@{
    ViewData["Title"] = "Detail Produk | Lubes";
    Layout = "_Layout";
}

<div class="container product-detail">
    <div class="row title">
        <div class="col">
            <h3>
                Identifikasi Produk
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card-detail card-batch">
            <div class="col">
                <div class="title-batch">
                    BATCH NUMBER
                </div>
            </div>
            <div class="col">
                <div class="text-batch">
                    @Model.productionBatch
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Kode QR
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.qrCode
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Nama Produk
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.productName
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Kemasan
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.productPackaging
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Jumlah Scan
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.jmlScan kali di scan
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Waktu Scan Sebelumnya
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.lastScanTimestamp
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Lokasi Scan Sebelumnya
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.lastAlamatMap
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Lokasi Scan Saat Ini
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    <p id="locationResult_1"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container overview">
    <div class="row">
        <div class="col-md-6 overview-text align-self-center">
            <h2>Petunjuk identifikasi keaslian produk (Lihat Gambar)</h2>
        <div class="divider"></div>
        <ol>
            <li class="mb-3">
                Pada kedua tutup drum 2" dan " terlindungi oleh CAP SEAL yang akan RUSAK ketika dibuka. 
                Setelahnya akan ada IN-CAP yang dipasang dengan PIN dan akan patah Ketika dibuka. 
                Pastikan drum anda memiliki CAP SEAL dan IN-CAP dalam keadaan yang tidak rusak
            </li class="mb-3">
            <li class="mb-3">
                QR Code Number adalah Unique tiap drum. Pastikan Nomor QR drum Anda berbeda dengan QR Code drum yang lain, dan juga sesuai dengan Nomor QR yang ada pada Tabel diatas
            </li>
            <li class="mb-3">
                Pastikan Nama Produk pada drum Anda sesuai dengan Nama Produk pada Tabel
            </li>
            <li class="mb-3">
                BATCH NUMBER di sablon dengan warna hitam dengan kombinasi 8 Angka. Pastikan Angka BATCH NUMBER ini sesuai dengan angka pada table diatas
            </li>
        </ol>
        <div class="row mt-5 justify-content-center justify-content-md-start">
            <div class="col-auto">
                <a href="~/assets/pdf/Identifikasi_Cap_Seal_Incap_Pertamina.pdf" target="_blank" class="btn btn-light rounded-pill" role="button">Lihat Panduan</a>
            </div>
            <div class="col-auto">
                <a asp-action="Report" asp-controller="Home" class="btn btn-light rounded-pill" role="button">Laporkan Pemalsuan</a>
            </div>
        </div>
    </div>
        <div class="col-md-6 overview-img text-center">
            <img class="img-overview" src="~/assets/img/image_drum.png" alt="">
        </div>
    </div>
</div>

@section scripts {

<script>

    $(document).ready(function () {
        getLocation();
    });

    function getLocation() {
        if (navigator.geolocation) {
             navigator.geolocation.getCurrentPosition(function (position) {
                // Callback showPosition akan dipanggil setelah mendapatkan lokasi
                showPosition(position);
                reverseGeocode(position.coords.latitude, position.coords.longitude,position);
            }, showError);
        } else {
            document.getElementById("locationResult_1").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        document.getElementById("locationResult_1").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
    }

    function sendAjaxRequest(position, address) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        console.log(JSON.stringify({
            "qrNo": "@Model.qrCode",
            "productId": "@Model.productName",
            "customerProfile": "-",
            "latitude": '' + latitude,
            "longitude": '' + longitude,
            "alamatMap": address
        }));

        var settings = {
            "url": "/api/PostLogScanning",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "qrNo": "@Model.qrCode",
                "productId": "@Model.productName",
                "customerProfile": "-",
                "latitude": '' + latitude,
                "longitude": '' + longitude,
                "alamatMap": address
            }),
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("locationResult_1").innerHTML = "User denied the request for Geolocation.";
                window.location.href = '../../Error'; //redirect ke halaman error
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("locationResult_1").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("locationResult_1").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("locationResult_1").innerHTML = "An unknown error occurred.";
                break;
        }
    }

    function reverseGeocode(latitude, longitude, position) {
        // Replace 'YOUR_API_KEY' with your actual Google Maps API key
        var apiKey = 'AIzaSyDEDIpNJDJ7Vb_Ja_OBAmcKkDMPXBHvMK8';
        var apiUrl = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${latitude},${longitude}&key=${apiKey}`;
        var addressresult = "";
        $.ajax({
            url: apiUrl,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.status === 'OK') {
                    var address = data.results[0].formatted_address;
                    document.getElementById("locationResult_1").innerHTML = address;
                    sendAjaxRequest(position,address);
                } else {
                    console.error('Error in geocoding request. Status: ' + data.status);
                }
            },
            error: function (error) {
                console.error('Error in geocoding request:', error);
            }
        });
    }
</script>
}