@model WebApp.Models.ProductDetailDTO

@{
    ViewData["Title"] = "Detail Produk | Lubes";
    Layout = "_Layout";
}

<div id="panelDrum_1" class="container product-detail">
    <div class="row title">
        <div class="col">
            <h3>
                Identifikasi Produk
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card-detail card-batch">
            <div class="col">
                <div class="title-batch">
                    BATCH NUMBER
                </div>
            </div>
            <div class="col">
                <div class="text-batch">
                    @Model.productionBatch
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    QR Code Number
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.qrCode
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Nama Produk
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.productName
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Kemasan
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.productPackaging
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Jumlah Scan
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.jmlScan_Str
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Waktu Scan Sebelumnya
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.lastScanTimestamp
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Lokasi Scan Sebelumnya
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    @Model.lastAlamatMap
                </div>
            </div>
        </div>
        <div class="card-detail d-md-flex">
            <div class="col-md-3">
                <div class="title-detail">
                    Lokasi Scan Saat Ini
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
                :
            </div>
            <div class="col-md-8">
                <div class="text-detail">
                    <p id="locationResult_1"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="panelDrum_2" class="container overview">
    <div class="row">
        <div class="col-md-6 overview-text align-self-center">
            <h2>Petunjuk identifikasi keaslian produk (Lihat Gambar)</h2>
        <div class="divider"></div>
        <ol>
            <li class="mb-3">
                Pada kedua tutup drum 2" dan 3/4" terlindungi oleh CAP SEAL yang akan RUSAK ketika dibuka. 
                Setelahnya akan ada IN-CAP yang memiliki PIN dimana PIN akan patah Ketika dibuka. 
                Pastikan drum anda memiliki CAP SEAL dan PIN IN-CAP dalam keadaan yang tidak rusak
            </li class="mb-3">
            <li class="mb-3">
                QR Code Number adalah kombinasi 9 angka dan huruf dibawah gambar QR dan bersifat UNIQUE (berbeda) tiap drum. 
                Pastikan Nomor QR drum Anda berbeda degan QR Code drum yang lain, dan pastikan juga sesuai dengan Nomor QR Code yang ada pada tabel diatas
            </li>
            <li class="mb-3">
                Pastikan Nama Produk pada drum Anda sesuai dengan Nama Produk pada Tabel
            </li>
            <li class="mb-3">
                BATCH NUMBER disablon dengan warna hitam dengan kombinasi 8 angka. BATCH NUMBER adalah identifikasi penting kode produksi. 
                Pastikan Anka BATCH NUMBER ini sesuai dengan angka pada tabel diatas
            </li>
        </ol>
        <div class="row mt-5 justify-content-center justify-content-md-start">
            <div class="col-auto mb-3">
                <a href="~/assets/pdf/Identifikasi_Cap_Seal_Incap_Pertamina.pdf" target="_blank" class="btn btn-danger rounded-pill" role="button">Lihat Panduan</a>
            </div>
            <div class="col-auto">
                <a asp-action="Report" asp-controller="Home" class="btn btn-light rounded-pill" role="button">Laporkan Pemalsuan</a>
            </div>
        </div>
    </div>
        <div class="col-md-6 overview-img text-center">
            <img class="img-overview" src="~/assets/img/image_drum.png" alt="">
        </div>
    </div>
</div>

<div id="panelError" class="container product-detail">
    <div class="row title">
        <div class="col">
            <h3>
                <p id="errorMessage"></p>
            </h3>
        </div>
    </div>
</div>


@section scripts {

<script>

    $(document).ready(function () {
        getLocation();
    });

    function getLocation() {
        $("#panelDrum_1").hide();
        $("#panelDrum_2").hide();
        $("#panelError").show();

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                // Callback showPosition akan dipanggil setelah mendapatkan lokasi
                showPosition(position);
                reverseGeocode(position.coords.latitude, position.coords.longitude,position);
                $("#panelDrum_1").show();
                $("#panelDrum_2").show();
                $("#panelError").hide();
            }, showError);
        } else {
            $("#panelDrum_1").hide();
            $("#panelDrum_2").hide();
            $("#panelError").show();
            //document.getElementById("locationResult_1").innerHTML = "Geolocation is not supported by this browser.";
            document.getElementById("errorMessage").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        //document.getElementById("locationResult_1").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
    }

    function sendAjaxRequest(position, address,kelurahan,kecamatan,kabupatenkota,provinsi,negara) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var settings = {
            "url": "/api/PostLogScanning",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "qrNo": "@Model.qrCode",
                "productId": "@Model.productName",
                "customerProfile": "-",
                "latitude": '' + latitude,
                "longitude": '' + longitude,
                "alamatMap": address,
                "kelurahan": kelurahan,
                "kecamatan": kecamatan,
                "kabupaten": kabupatenkota,
                "provinsi": provinsi,
                "negara": negara
            }),
        };

        $.ajax(settings).done(function (response) {
            //console.log(response);
        });
    }

    function showError(error) {
        $("#panelDrum_1").hide();
        $("#panelDrum_2").hide();
        $("#panelError").show();

        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("locationResult_1").innerHTML = "User denied the request for Geolocation.";
                document.getElementById("errorMessage").innerHTML = "Anda Harus Allow Location";
                //window.location.href = '../../Error'; //redirect ke halaman error
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("locationResult_1").innerHTML = "Location information is unavailable.";
                document.getElementById("errorMessage").innerHTML = "Location information is unavailable";
                break;
            case error.TIMEOUT:
                document.getElementById("locationResult_1").innerHTML = "The request to get user location timed out.";
                document.getElementById("errorMessage").innerHTML = "The request to get user location timed out";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("locationResult_1").innerHTML = "An unknown error occurred.";
                document.getElementById("errorMessage").innerHTML = "An unknown error occurred";
                break;
        }
    }

    function reverseGeocode(latitude, longitude, position) {
        // Replace 'YOUR_API_KEY' with your actual Google Maps API key
        var apiKey = 'AIzaSyDEDIpNJDJ7Vb_Ja_OBAmcKkDMPXBHvMK8';
        var apiUrl = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${latitude},${longitude}&key=${apiKey}`;
        $.ajax({
            url: apiUrl,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.status === 'OK') {

                    var getProv = data.results[0].address_components.filter(function(address_component){
                        return address_component.types.includes("administrative_area_level_1");
                    }); 

                    var getKabKota = data.results[0].address_components.filter(function(address_component){
                        return address_component.types.includes("administrative_area_level_2");
                    }); 

                    var getKec = data.results[0].address_components.filter(function(address_component){
                        return address_component.types.includes("administrative_area_level_3");
                    }); 

                    var getKel = data.results[0].address_components.filter(function(address_component){
                        return address_component.types.includes("administrative_area_level_4");
                    }); 

                    var getNegara = data.results[0].address_components.filter(function(address_component){
                        return address_component.types.includes("country");
                    }); 

                    var address = data.results[0].formatted_address;
                    var kelurahan = getKel.length ? getKel[0].long_name: "";
                    var kecamatan = getKec.length ? getKec[0].long_name: "";
                    var kabupatenkota = getKabKota.length ? getKabKota[0].long_name: "";
                    var provinsi = getProv.length ? getProv[0].long_name: "";
                    var negara = getNegara.length ? getNegara[0].long_name: "";

                    document.getElementById("locationResult_1").innerHTML = address;
                    sendAjaxRequest(position,address,kelurahan,kecamatan,kabupatenkota,provinsi,negara);
                } else {
                    console.error('Error in geocoding request. Status: ' + data.status);
                }
            },
            error: function (error) {
                console.error('Error in geocoding request:', error);
            }
        });
    }
</script>
}